.visit {
    grid-column: centre-start / centre-end;
    background-color: $color-grey;
    border-radius: 1rem;
    padding: 13rem 6rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    animation: fadeInDown .4s;
    &__para {
        color: #777;
        font-size: 4.3rem;
        margin-bottom: 2rem; 
        transform: translateX(13rem);
       span {
            color: rgb(238, 236, 236);
        }
    }

    &__icon {
        color: #777;
        transform: translateX(13rem);
        margin-top: 3rem;
    }

    &__img {
        margin-right: 4rem;
        
    }
}